.env*


# Dependency 
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Typescript
*.tsbuildinfo


backend/data/itineraries.csv
backend/data/users.csv
backend/data/favourites.csv
backend/data/events.csv
backend/data/friend_requests.csv